/* This is for general text formatting */
/*body{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
*/


/* This is for table formatting

  To make a table responsive (scroll bar for overflow), have to put
  the table in a <div> </div> environment and add
  <div style="overflow-x:auto;">
    <table>
      some table stuff
    </table>
  </div>

*/

<style>
table, td, th {
    border: 2px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
	text-align: center;
  padding: 8px;
  bgcolor = #C17278
}

td {
    text-align: center;
    padding: 8px;
}

/* tr:nth-child(even){background-color: #B9E5E1} */
</style>
