/* This is for general text formatting */
/*body{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
*/


/* This is for table formatting

  To make a table responsive (scroll bar for overflow), have to put
  the table in a <div> </div> environment and add
  <div style="overflow-x:auto;">
    <table>
      some table stuff
    </table>
  </div>

*/


<style>

table.dataframe {
    border-collapse: collapse;
    width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
}

.dataframe thead, tbody {
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
}

</style>
